<h3>Pesquisa</h3>
<form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisa..." aria-label="Search">
    <button class="btn btn-outline-primary" type="submit">Buscar</button>
</form>

<!--
<div>
  <strong>
    <p>Marca: {{ compt.brand | uppercase }}, Modelo: {{ compt.model | uppercase }}</p>
    <p>Placa-Mãe: {{ compt.motherboard | uppercase }}</p>
    <p>Processador: {{ compt.processor | uppercase }}</p>
    <p>M-RAM: {{ compt.memory_ram | uppercase }}, HD: {{ compt.hard_disck | uppercase }}</p>
    <p>Foto: {{ compt.uri_photo | uppercase }}</p></strong>
</div>-->