<div class="container">
    <div class="card">
    <div class="card-header">
        <h4>Pesquisa</h4>
    </div>
    <div class="card-body">

    <div class="float-right">
        <div>
            <div class="input-group mb-3 p-1">
                <select class="custom-select col-sm-3" 
                    placeholder="filtro"
                    id="inputS" [(ngModel)]="searchType">
                    <option value="brand" 
                    selected="selected">Marca</option>
                    <option *ngFor="let option of options" 
                    [value]='option.type'>{{ option.text }}</option>
                </select>
                <input type="search" class="form-control" 
                id="inputS" placeholder="Pesquisa..." (change)="onSearch($event)">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" 
                    type="submit" id="inputS">Buscar</button>
                </div>
            </div>  
        </div>
    </div>
    
    </div>
    
    <br>
    <hr>
    
    <div class="jumbotron" *ngIf="searchString">
        <div *ngFor="let compt of filteredCompts">
            <div class="row">
            <div class="col-2">
                <img class="img-fluid rounded float-left" src="{{ compt.uri_photo }}">
            </div>
            <div class="col">
                <p>Id: {{ compt.id }}, Marca: {{ compt.brand }}, Modelo: {{ compt.model }} <br />
                 Placa-Mãe: {{ compt.motherboard }}<br />
                 Processador: {{ compt.processor }}, M-RAM: {{ compt.memory_ram }}, HD: {{ compt.hard_disck }}</p>
                 <button class="btn btn-sm " [routerLink]="['/edit', compt.id]">Editar</button>
            </div>
        </div>
            <p>...</p>
            <hr />
        </div>
    </div>
    
    </div>
    