<div class="container">

    <div class="card">
        <div class="card-header">
            <h4>Formulario</h4>
        </div>
        <div class="card-body">
        
<form (submit)="addCompt()">
<div class="form-row">
    <div>
        <div class="form-row">
            <div class="form-group col-11">
                <label for="uri_photo">Foto:</label>
                <img src="{{ uri_photo }}" type="file" class="img-thumbnail rounded float-left btn" name="uri_photo">
                <button type="file" class="btn btn-sm btn-secondary">enviar</button>
            </div>
    
        </div>
    </div>

    <div class="col">
        <div>
            <div class="form-row">
                <div class="form-group col-2">
                    <label for="id">Id:</label>
                    <input type="text" class="form-control" name="id" [(ngModel)]="id">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-5">
                    <label for="brand">Marca:</label>
                    <input type="text" class="form-control" name="brand" [(ngModel)]="brand">
                </div>
                <div class="form-group col">
                    <label for="model">Modelo:</label>
                    <input type="text" class="form-control" name="model" [(ngModel)]="model">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label for="motherboard">Placa-mãe:</label>
                    <input type="text" class="form-control" name="motherboard" [(ngModel)]="motherboard">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col">
        <div class="form-row">
            <div class="form-group col-4">
                <label for="processor">Processador:</label>
                <input type="text" class="form-control" name="processor" [(ngModel)]="processor">
            </div>

            <div class="form-group col-4">
                <label for="memory_ram">Memoria RAM:</label>
                <input type="text" class="form-control" name="memory_ram" [(ngModel)]="memory_ram">
            </div>

            <div class="form-group col-4">
                <label for="hard_disck">Disco Rigido:</label>
                <input type="text" class="form-control" name="hard_disck" [(ngModel)]="hard_disck">
            </div>
        </div>
    </div>

</div>
        
         <input type="submit" value="Salvar" class="btn btn-primary">
            </form>
            
        </div>
    </div>
</div>
