<div>
    <div class="card">
        <div class="card-header">
            <h4>PC: {{ compt.brand | uppercase }} - {{ compt.model | uppercase }}</h4>
            <div class="float-right">
            <button href="" class="btn btn-info" (click)="compt.hide = !compt.hide">
                Detalhes
            </button>
        </div>
        </div>
        <div class="card-body" [hidden]="compt.hide">
            <div><strong>
                <p>Id: {{ compt.id }}, Marca: {{ compt.brand }}, Modelo: {{ compt.model }}</p>
                <p>Placa-Mãe: {{ compt.motherboard }}</p>
                <p>Processador: {{ compt.processor }}</p>
                <p>M-RAM: {{ compt.memory_ram }}, HD: {{ compt.hard_disck }}</p>
                <p>Foto: </p></strong> <img style="width: 150px; height: 150px;" src="{{ compt.uri_photo }}">
            </div>
            <div class="float-right">
                <button href="" class="btn btn-danger" (click)="removeCompt(compt)">
                 Deletar
                </button>
            </div>
        </div>
    </div>
</div>
